<p class="h2 mb-3">Supplier Preview</p>

<div *ngIf="!this.isError">
<div 
    *ngIf="onIsPermitedHighAccess()"
    class="card">
        <div class="card-header">
            <h4 class="card-title">Supplier Data</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="date">ID:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            name="id"
                            id="id"
                            [value]="this.supplier.id"
                            [disabled]="true"
                        >
                </div>

                <div class="form-group">
                    <label for="date">Name:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            name="name"
                            id="name"
                            [(ngModel)]="this.supplier.name"                            
                            [disabled]="this.isEditable"
                        >
                </div>

                <div class="form-group">
                    <label for="date">Address:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            name="address"
                            id="address"
                            [(ngModel)]="this.supplier.address"
                            [disabled]="this.isEditable"
                        >
                </div>

                <span *ngIf="onIsPermitedLowAccess()">
                    <button 
                        (click)="onEdit()"
                        class="btn btn-dark m-1"
                    >Edit</button>
                </span>

                <button 
                    class="btn btn-primary m-1"
                    routerLink="/"
                    >Close</button>
                 
                <span *ngIf="onIsPermitedLowAccess()">
                     <button                     
                         *ngIf="this.isEditable"
                         (click)="onSaveSupplier()"
                         class="btn btn-secondary m-1"
                         routerLink="/"                         
                         >Save</button>
                 </span>             
                
            </form>
        </div>
  </div>
</div>

<div
  *ngIf="!onIsPermitedHighAccess()
  && !this.isError"
>
    <app-no-access></app-no-access>
</div>

<div *ngIf="this.isError">
    <app-not-found></app-not-found>
</div>