<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-address-card-o text-light mr-1 fa-lg"></i>
            Invoices-App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/invoices/new">New Invoice</a>
                </li>
                
            </ul>
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="nav-link">Current Role: <strong>{{ this.currentRole }}</strong></span>
                </li>                
            </ul>
            
            <!-- <ul class="navbar-nav ml-auto">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Roles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Admin</a>
                        <a class="dropdown-item" href="#">User</a>
                        <a class="dropdown-item" href="#">Guest</a>
                    </div>
                </li>
            </ul> -->


            <div id="dropdown">
                <select
                    [(ngModel)] = "roleSelected"
                    (ngModelChange)="onChangeRole($event)"
                >
                    <option
                        *ngFor="let role of this.roles"
                        [value]="role"
                    >{{ role }}</option>
                </select>
            </div>

        </div>
    </div>
    </nav>
