<p class="h2 mb-3">Invoice Preview</p>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Invoice Data</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Date:</h5>
      <p class="card-text">{{ this.invoice.orderAt | date}}</p>
      
      <h5 class="card-title">Number:</h5>
      <p class="card-text">{{this.invoice.number}}</p>
            
      <h5 class="card-title">Supplier:</h5>
      <p class="card-text">
          <strong>Name: </strong> <span>{{ this.invoice.supplier.name }}</span>
      </p>      
      <p class="card-text">
          <strong>Address: </strong> <span>{{ this.invoice.supplier.address }}</span>
      </p>
      
      <h5 class="card-title">Amount:</h5>
      <p class="card-text">{{ this.invoice.amount | currency}}</p>

      
      <button 
        class="btn btn-primary"
        routerLink="/"
        >Close</button>
    </div>
  </div>
  

