<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">Filter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Suppliers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Company 1</a>
            <a class="dropdown-item" href="#">Company 2</a>
            <a class="dropdown-item" href="#">Company 3</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invoice Number</th>
        <th scope="col">Supplier Name</th>
        <th scope="col">Invoice Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>123-21</td>
        <td>Zabka</td>
        <td>$124.54</td>
        <td>
            <button class="btn btn-primary btn-sm">see</button>
            <button class="btn btn-secondary btn-sm ml-1">details</button>
        </td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123-21</td>
        <td>Zabka</td>
        <td>$124.54</td>
        <td>
            <button class="btn btn-primary btn-sm">see</button>
            <button class="btn btn-secondary btn-sm ml-1">details</button>
        </td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123-21</td>
        <td>Zabka</td>
        <td>$124.54</td>
        <td>
            <button class="btn btn-primary btn-sm">see</button>
            <button class="btn btn-secondary btn-sm ml-1">details</button>
        </td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>123-21</td>
        <td>Zabka</td>
        <td>$124.54</td>
        <td>
            <button class="btn btn-primary btn-sm">see</button>
            <button class="btn btn-secondary btn-sm ml-1">details</button>
        </td>
      </tr>
    </tbody>
  </table>