#dropdown select{
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    padding: 0.3rem;
    border-radius: 4px;
}

#dropdown option {
    background-color: #fff;
    color: #6c757d;
}

.buttons-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}