<p class="h2 mb-3">Invoices List</p>


<div 
  *ngIf="onIsPermitedHighAccess()"
  id="dropdown" class="mb-3">
  <select 
    [(ngModel)] = "supplierSelected"
    (ngModelChange)="onFilterInvoicesBySupplierName($event)"
  >
    <option 
      *ngFor="let supplier of this.suppliers"
      [value]="supplier.id"
      >{{ this.supplier.name}}</option>
  </select>
</div>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Invoice Number</th>
        <th scope="col">Supplier</th>
        <th scope="col">Amount</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let invoice of this.invoices">
        <td>{{ this.invoice.number | slice:0:6}}...</td>
        <td>{{ this.invoice.supplier.name }}</td>
        <td>{{ this.invoice.amount | currency: 'GBP' }}</td>
        <td>
          <button 
            *ngIf="onIsPermitedHighAccess()"
            routerLink="/invoices/{{ this.invoice.number }}"
            class="btn btn-primary btn-sm m-1"
            routerLink="/invoices/1"
          >invoice</button>
          
          <button 
            *ngIf="onIsPermitedLowAccess()"
            routerLink="/suppliers/{{ this.invoice.supplier.id }}"
            class="btn btn-secondary btn-sm m-1"
            routerLink="/suppliers/3"
          >supplier</button>
        </td>
        
      </tr>
    </tbody>
  </table>